/* The wrapper holding the minesweeper board */
.minesweeper-board-container {
  position: relative;
  display: inline-block;
  border: 5px outset darkgrey;
  background-color: #94bfca
}

.minesweeper-board-header {
  position: relative;
  padding: 10px;
}