/* The timer at the top left */
.minesweeper-timer {
  position: absolute;
  left: 5px;
  top: 12px;
  font-size: 14px;
  padding: 5px 0px;
  text-align: left;
  min-width: 70px;
  color: darkred;
}

.minesweeper-timer img {
  width: 16px;
  height: 16px;
  vertical-align: baseline;
}

.minesweeper-timer span {
  padding-left: 7px;
}