/* The timer at the top left */
.minesweeper-timer {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  border: 1px solid darkgray;
  padding: 5px;
  text-align: right;
  min-width: 70px;
}