/* The wrapper holding the minesweeper board */
.minesweeper-board-container {
  position: relative;
  display: inline-block;
}

/* The minesweeper grid of tiles */
.minesweeper-grid {
  /* Prevent wrapping of the tiles */
  overflow: auto;
  white-space: nowrap;
}

/* The minesweeper "tile" */
.minesweeper-tile {
  width: 25px;
  height: 25px;
  border-radius: 0px;
  white-space: nowrap;
  overflow: hidden;
}

/* The timer at the top left */
.minesweeper-timer {
  position: absolute;
  left: 0;
  top: 0;
}

.minesweeper-flag-counter {
  position: absolute;
  top: 0;
  right: 0;
}
