
/* The minesweeper grid of tiles */
.minesweeper-grid {
  /* Prevent wrapping of the tiles */
  overflow: auto;
  white-space: nowrap;
}

/* The minesweeper "tile" */
.minesweeper-tile {
  width: 25px;
  height: 25px;
  border-radius: 0px;
  white-space: nowrap;
  overflow: hidden;
}
