/* Position the flag counter to the top right */
.minesweeper-flag-counter {
    position: absolute;
    top: 12px;
    right: 5px;
    font-size: 16px;
    padding: 5px;
    text-align: right;
    min-width: 70px;
    color: darkred;
  }

  .minesweeper-flag-counter img {
    width: 14px;
    height: 18px;
    vertical-align: baseline;
  }
  
  .minesweeper-flag-counter span {
    padding-left: 10px;
  }